fedoraIdProp="http://purl.org/dc/terms/identifier"
fedoraIdNamespace="https://id.acdh.oeaw.ac.at/"
fedoraRelProp="http://purl.org/dc/terms/isPartOf"
fedoraLocProp="https://vocabs.acdh.oeaw.ac.at/schema#locationpath"
fedoraExtentProp="https://vocabs.acdh.oeaw.ac.at/schema#hasBinarySize"
fedoraCountProp="https://vocabs.acdh.oeaw.ac.at/schema#hasNumberOfItems"
fedoraAccessRestrictionProp="https://vocabs.acdh.oeaw.ac.at/schema#hasAccessRestriction"
fedoraAccessRoleProp="https://vocabs.acdh.oeaw.ac.at/schema#hasAccessRole"

epicUrl="https://pid.gwdg.de/handles/"
epicPrefix="11022"
epicUser="1013-01"
epicPswd="***"
epicResolver="http://hdl.handle.net/"
epicPidProp="https://vocabs.acdh.oeaw.ac.at/schema#pid"

doorkeeperReadOnly=false
doorkeeperBaseUrl="/rest/"
doorkeeperLogFile="log"
doorkeeperOntologyLabelProp="http://www.w3.org/2000/01/rdf-schema#label"
doorkeeperOntologyLocation="ontology"
doorkeeperShibUserHeader="eppn"
doorkeeperSyncProp="https://vocabs.acdh.oeaw.ac.at/schema#txCount"
doorkeeperSyncRes="/doorkeeper"
doorkeeperAccessRestrictionDefault="public"
fedoraRoleHeader="Roles-List"
sparqlUrl="http://fedora.localhost/blazegraph/sparql"

fedoraApiUrl="http://fedora.localhost/rest"
fedoraUser="admin"
fedoraPswd="***"
fedoraGuestUser="user"
fedoraGuestPswd="***"
fedoraRolesHeader="Roles-List"

